CMakeFiles/
Win32/
*.vcxproj
*.filters
CMakeCache.txt
*.opensdf
*.sdf
*.sln
*.suo
*.cmake
DartConfiguration.tcl
src/location.hh
src/parser.cc
src/parser.hh
src/parser.output
src/position.hh
src/scanner.cc
src/stack.hh
src/Debug/
src/Release/
src/xigen.dir/
tests/Debug/
tests/dummy.dir/
tests/Release/
*.user
